#tpl {
    .text-accent {
        font-size: vh(178);
        color: $color-accent;
        font-family: $font-accent;
        font-weight: $font-weight-accent;
        letter-spacing: 0.03em;
        line-height: 0.7;
    }
}
