/* main styles */

html,
body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

// html,
// body,
#tpl {
    // stylelint-disable-next-line
    --header-offset: 0;

    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    background-color: $color-bg;
    font-family: $font-main;
    color: $color-text;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: auto;
    overflow: hidden;
    text-align: left;

    @include font-size;
    @include reduced-motion;
    @include reset;

    img {
        max-width: unset;
    }

    p {
        font-size: 1em;
    }

    a,
    button {
        @include reset-btn;
    }

    h1,
    p,
    h2 {
        font-family: $font-main;
        line-height: 1.05;
        margin-bottom: 0;
    }
}

section {
    font-size: vw($basePxDp);
    width: 100vw;

    @media (--viewport-portrait-layout) {
        font-size: min(rem($basePxMb, true), vw($basePxMb, true));
    }

    @media (--viewport-mobile-lp) {
        font-size: rem($basePxMb * 1.1, true);
    }
}
