// colors
$color-bg: #f0f0f0;
$color-light: #fff;
$color-text: #0d0d0d;
$color-red: #c83025;
$color-blue: #4791e9;
$color-pink: #f3c4d0;

// text
$font-main: "Gilroy-Medium", system-ui, sans-serif;
$font-weight-main: 500;
$font-accent: "Gilroy-Bold", system-ui, sans-serif;
$font-weight-accent: 700;
$fsTitle: 115;
$fsTitleMb: 55;
