// colors
$color-bg: #dad6d1;
$color-light: #f8f4ef;
$color-text: #000;
$color-accent: #646464;

// text
$font-main: "Montserrat-Regular", system-ui, sans-serif;
$font-weight-main: 400;
$font-accent: "Cormorant-Regular", system-ui, sans-serif;
$font-weight-accent: 400;
