article#tpl
    main.main 
        .horizontal-scroll-container#horizontalScroll
            .swiper-wrapper
                .swiper-slide
                    .base .base
                    .parallax-layout.parallax-layout--2 layout 2
                    .parallax-layout.parallax-layout--3 layout 3
                .swiper-slide
                    .base .base
                    .parallax-layout.parallax-layout--2 layout 2
                    .parallax-layout.parallax-layout--3 layout 3
                .swiper-slide
                    .base .base
                    .parallax-layout.parallax-layout--2 layout 2
                    .parallax-layout.parallax-layout--3 layout 3