article#tpl
    include components/meta.pug
    include components/mainPage/mainPage.pug
    include components/slide/slide.pug

    main.main 
        .horizontal-scroll-container#horizontalScroll
            .swiper-wrapper
                each slide in data
                    .swiper-slide
                        if (slide.mainPage)
                            +mainPage(slide.content)
                        else
                            +slide(slide.content)
            .swiper-pagination
                //- .swiper-slide
                //-     .inview-by-scroll.base .base
                //-     .inview-by-scroll.parallax-layout.parallax-layout--2 layout 2
                //-     .inview-by-scroll.parallax-layout.parallax-layout--3 layout 3
                //- .swiper-slide
                //-     .inview-by-scroll.base .base
                //-     .inview-by-scroll.parallax-layout.parallax-layout--2 layout 2
                //-     .inview-by-scroll.parallax-layout.parallax-layout--3 layout 3
                //- .swiper-slide
                //-     .inview-by-scroll.base .base
                //-     .inview-by-scroll.parallax-layout.parallax-layout--2 layout 2
                //-     .inview-by-scroll.parallax-layout.parallax-layout--3 layout 3